<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit item</title>
</head>
<body>
<form th:action="@{/item/{id}(id=${item.getId()})}" th:method="patch" th:object="${item}">
    <label for="name">Enter name of item: </label>
    <input type="text" th:field="*{name}" id="name" class="form-control" required minlength="2" maxlength="25" />
    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Age error</div>
    <br/>
    <label for="description">Enter last name: </label>
    <input type="text" th:field="*{description}" id="description" class="form-control" required minlength="2" maxlength="25"/>
    <div style="color:red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Age error</div>
    <br/>
    <label for="price">Enter price: </label>
    <input type="number" min="1" step="any" th:field="*{price}" id="price" class="form-control" required minlength="1" maxlength="15"/>
    <div style="color:red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Age error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>